.game-control {
    background-color: #79797955;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

svg {
    text-decoration: none;
    font-size: 1.2rem;
    fill: whitesmoke;
    stroke: black;
}

svg:hover {
    cursor: pointer;
    fill: rgb(198, 198, 198);
}