.header {
    background-color: #4c4c4c;
    padding: 10px 20px;
}

.header,
.left-side,
.links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

}

.links svg {
    text-decoration: none;
    font-size: 1.2rem;
    color: whitesmoke;
    fill: whitesmoke;
    stroke: black;
    width: 40px;
    height: 40px;
}

.links svg:hover {
    cursor: pointer;
    fill: rgb(198, 198, 198);
}

.current-game {
    font-size: 1.3rem;
    color: whitesmoke;
}

.header img {
    width: 30px;
    height: 30px;
    border: 2px solid black;
}