.header {
    background-color: #4c4c4c;
    padding: 10px 20px;
}

.header,
.left-side,
.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}

.links svg {
    text-decoration: none;
    font-size: 1.2rem;
    fill: whitesmoke;
    stroke: black;
}

.links svg:hover {
    cursor: pointer;
    fill: rgb(198, 198, 198);
}

#game-selector {
    background-color: #4c4c4c;
    border: none;
    color: whitesmoke;
    font-size: 1.2rem;
    width: max-content;
    padding: 2px 5px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

#game-selector button {
    background-color: blue;
}

#game-selector option {
    font-size: 1rem;
    width: 90px;
}

.header img {
    width: 30px;
    height: 30px;
    border: 2px solid black;
}