.canvas-container {
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(#404040, black); */
    padding: 0;
    background-color: tomato;
    /* background-color: lightskyblue; */
}

.canvas {
    position: fixed;
    overflow-x: hidden;
}